# Python virtual environment
rl_env/
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite
*.db

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Wandb
wandb/

# Outputs
output*/ 